.custom-navbar-color {
    background-color: beige;
}
.custom-body-padding {
    padding-top:50px;
}
.custom-section-padding {
padding-top:50px;
}
.scrolling {
    white-space: nowrap;
    word-spacing: -3px;
    letter-spacing: -3px;
}
.custom-image-cell {
    margin:5px; 
    /*padding:5px;*/
}
.custom-image-size {
    width:100px;
    height:150px;
    padding:5px;
}

/*Hover image effects the name is the name of the class being used*/
.custom-image-cell:hover {
	/*padding-top: 3px;*/
    border:solid thin;
    /*color:red;*/
}

/*Formating tooltip appearence. Starting with class*/
.custom-image-cell + .tooltip > .tooltip-inner {
    background-color: beige; 
    color: black; 
    height:20px;
    border: 1px solid;
    font-size: 10px;
    display:inline-flex;
    /*display: inline-block;*/
}