
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="panel panel-primary"> 
        <div class="panel-heading">
            User Detail
        </div>
        <table class="table table-striped">
            @foreach (string key in Model.Keys)
            {
                <tr>
                    <th>@key</th>
                    <th>@Model[key]</th>
                </tr>
            }
        </table>
    </div>
</body>
</html>
